a.skip-link {
  position: absolute;
  left: 1px;
  top: auto;
  width: 150px;
  height: 50px;
  overflow: hidden;
  background: #885353;
  color: #0a0303;
  padding: 8px;
  z-index: 100;
}



header {
  background-color: #2c3e50;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
  background: #111;
  padding: 1rem;
  gap: 20px;
  border-bottom: 3px solid #f90;
}

nav a {
  color: #f90;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #f90;
  color: #000;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

main p {
  grid-column: span 2; 
  background: #222;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px #f90aa0;
}

main img {
  width: 100%;
  border: 5px solid #f90;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 0 10px #f90;
  transition: transform 0.3s ease;
  object-fit: cover;
}

main img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffa500;
}

main img:nth-child(3n) {
  border-radius: 50px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #111;
  margin-top: 3rem;
  color: #777;
}

 
 body{
    background-color: #000;
 }